<h1>Sección en construcción</h1>
<h2>...Proximamente novedades</h2>
<link rel="stylesheet" href="/public/stylesheets/style.css">

<div>
    <p>Hola {{usuario}} <a href="/admin/login/logout">Cerrar sesión <i></i></a>

    </p>
</div>